* {
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(to bottom right, rgb(213, 214, 190), white);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
  }
  
  li {
    list-style: none;
  }

  form {
    padding: 5px;
  }

  input[type=text], select, textarea {
    width: 70%;
    height: 70px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #f09206;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: left; */
    margin-top: 10px;
  }
  
  input[type=submit]:hover {
    background-color: #5e8860;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom right, rgb(252, 255, 252), white);
    padding: 20px;
    width: 1000px;
    margin: 50px auto;
    padding-top: 50px;
    height: 1000px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    border-right: 1px solid black;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #element {
    color: white;
    position: absolute;
    top: 30%;
    left: 65%;
    background-color: black;
    border: 1px slid white;
    border-radius: 3px;
    padding: 2px;
    display: none;
  }

  ul.card {
    height: 55px;
    border-radius: 10px;
    padding: 10px;
  }
  .beer {
    float: left;
    width: 100%;
    display: block;
    
  }
  .beer_img {
    height: 200px;
    margin: 5px 5px 5px 30px;
  }

  li {
    text-align: center;
  }

  li img {
    text-align: center;
  }

  h1 {
    font-family: "Great Vibes", cursive;
    color: blue;
    font-size: 40px;
  }

  h2 {
    text-decoration: underline;
  }
  p {
    font-size: 20px;
    margin: 5px;
  }
  #reviews ul li {
    background-color: #f09206;
    color: black;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
  }
  
  #myform {
    text-align: center;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }